<app-navbar></app-navbar>
<div class="container">
    <h1>Edit your profile</h1>
    <form *ngIf="user != null">
        <section class="input-data">
            <p>
                <mat-form-field>
                <label>Name</label><input matInput type="text" [formControl]="nameFormControl" (ngModelChange)="nameChange($event)" 
                        name="name" [value]="user.name" [errorStateMatcher]="matcher">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                <label>Phone</label><input matInput [value]="user.phone" type="text" [formControl]="phoneFormControl" (ngModelChange)="phoneChange($event)"
                        name="phone" [errorStateMatcher]="matcher">
                <mat-error *ngIf="phoneFormControl.hasError('required')">
                  Phone is <strong>required</strong>
                </mat-error>    
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                <label>Email</label><input matInput [value]="user.email" type="email" [formControl]="emailFormControl" (ngModelChange)="emailChange($event)"
                        name="email" [errorStateMatcher]="matcher">
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>    
                </mat-form-field>
            </p>
        </section>
        
        <mat-divider></mat-divider>
        <div class="action-group-btn">
            <button mat-button (click)="onUpdateClick()">Update profie</button>
            <button mat-button (click)="onCancelClick()">Cancel</button>
        </div>
      </form>
</div>
