<footer>
    <div class="footer-content">
        <div class="newsletter">
            <h2>Subscribe to our newsletter</h2>
            <div class="newsletter-input">
                <input (keyup)="emailChange($event)" id="newsletter-input" #input type="email" placeholder="Your email address" size="50"/>
                <i class="fas fa-long-arrow-alt-right" (click)="input.value = '';addNewsletterEmail()"></i>
            </div>
        </div>
        <div class="flex-list">
            <div>
                <ul>
                    <li>Pubs in Cluj</li>
                    <li>Pubs in Bucuresti</li>
                    <li>Pubs in Timisoara</li>
                    <li>Pubs in Brasov</li>
                    <li>Pubs in Iasi</li>
                </ul>
                <ul>
                    <li>About Get Together</li>
                    <li>Cookies</li>
                    <li>Terms and conditions</li>
                </ul>
            </div>
            <div>
                <div>

                    <h1>Get Together</h1>
                    <p>© GetTogether. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>

</footer>