<app-hero></app-hero>
<div class="container">
    <div class="container-70">
        <div>
            <app-section tag="party"></app-section>
            <app-section tag="irish"></app-section>
            <app-section tag="romantic"></app-section>
        </div>
        <div class="aside-menu">
            <app-sidesection title="THE MOST POPULAR"></app-sidesection>
            <app-sidesection title="THE BIGGEST RATE"></app-sidesection>
            <app-sidesection title="THE NEWEST"></app-sidesection>
        </div>
    </div>
</div>
    