.container-75{
    width: 75%;
    display: grid;
    grid-template-columns: 75% 25%;
}

.aside-menu{
    margin-top: 1em;
}

@media screen and (max-width:1580px){
    .container-75{
        width: 100%;
    }
}

@media screen and (max-width:1400px){
    .container-75{
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    .aside-menu{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 800px){
    .container-75{
        width: 100%;
    }
    .aside-menu{
        display: block;
        width: 80%;
        margin: auto;
    }
}