.dialog-content{
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    section{
        display: flex;
        flex-direction: column;

        input{
            width: 100%;
        }
    }
}

.dialog-action-group-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    button{
        background: rgba(0,212,255,1);
        margin: 0 .5em;
        padding: .1em 2em;
        color: rgba(2,0,36,1) ;
        font-weight: bold;
    }

    button:hover{
        opacity: .7;
    }
}


.images{
    display: grid;
    width: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    flex-wrap: wrap;
}

.local-image{
    height: 200px;
    width: 300px;
    border-radius: 0 0 10px  10px;
}
