<header class="hero">
    <div class="overlay"></div>
    <video id="vid" video autobuffer autoplay muted loop>
        <source id="mp4" src="assets\video\hero-app.mp4" type="video/mp4">
    </video>

    <div class="center-content">
        <h1>{{title}}</h1>
        <div class="search-bar">
            <input placeholder="{{placeholder}}" type="text" size="80" />
            <i class="fas fa-search"></i>
        </div>
        <button class="restaurants-btn" [routerLink]="['/locals']">Restaurants</button>
    </div>
    <ul *ngIf="isLoggedIn()">
        <li [routerLink]="['/login']">Log in</li>
        <li [routerLink]="['/signup']">Sign up</li>
    </ul>
    <ul *ngIf="!isLoggedIn()">
        <li [routerLink]="['/account']">Account</li>
        <li (click)="logout()">Log out</li>
    </ul>

</header>
