.hero{
    width:102%;
    /* height:75vh; */
    background:url("../../assets/hero.svg") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.restaurants-btn{
    padding: .9em 1.4em;
    margin: .7em;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 400;
    background-color: crimson;
    border: none;
    cursor: pointer;
}

.restaurants-btn:hover{
    border-radius: 10px;
    background-color: #553e98;
    color: #f1dde5;
    transition: .3s;
}

.text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: #553e98;
}


h1{
    font-size: 6vw;
    letter-spacing: 0.1rem;
    margin: .5em 0;
}

h2{
    font-size: 2vw;
    width: 80%;
}

ul{
    position: absolute;
    top: 2%;
    right: 1%;
    display: flex;
    list-style-type: none;
}
ul li {
    text-decoration: none;
    padding: 1em;
    font-size: 1.3rem;
    cursor: pointer;
}

ul li:hover {
    border-bottom: 1px solid #553e98;
}

