<header class="hero">
    
    <div class="text-content">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <button class="restaurants-btn" [routerLink]="['/locals']">Restaurants</button>
    </div>
    <ul *ngIf="isLoggedIn()">
        <li [routerLink]="['/login']">Log in</li>
        <li [routerLink]="['/signup']">Sign up</li>
    </ul>
    <ul *ngIf="!isLoggedIn()">
        <li [routerLink]="['/account',userId]">Account</li>
        <li (click)="logout()">Log out</li>
    </ul>

</header>
