<nav>
    <div class="search-bar">
        <h1 [routerLink]="['']">GetTogether</h1>
        <div class="search-bar-input">
            <input id="search-bar" placeholder="Search a pub for you" class="search-bar" type="text" size="50">
            <i class="fas fa-search"></i>
        </div>
        <ul class="user-actions" *ngIf="!isLoggedIn()">
            <li [routerLink]="['/login']">Log in</li>
            <li [routerLink]="['/signup']">Sign up</li>
        </ul>
        <ul class="user-actions" *ngIf="isLoggedIn()">
            <li [routerLink]="['/account']">Account</li>
            <li (click)="logout()">Log out</li>
        </ul>
    </div>
</nav>
