.review-list-container{
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

@media screen and (max-width:1400px){
    .review-list-container{
        margin:0;
    }
}

.review-list-items{
    width: 75%;
    padding: 2em;
}
.review-card{
    margin-top: 1em;
    background-color: #553e98;
    box-shadow: 2px 3px 5px #888888;
    display: grid;
    grid-template-columns: 30% 75%;
    grid-gap: 1em;
    overflow-x: hidden;
}

.review-card-text{
    border-radius: 10px;
    width: 90%;
    height: 50%;
    padding: .3rem;
}

@media screen and (max-width:550px){
    .review-card{
        font-size: .7rem;
    }
    .title{
        font-size: 1.3rem;
    }
}