.review-list-container{
    margin: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

@media screen and (max-width:1400px){
    .review-list-container{
        margin:0;
    }
}

.review-list-items{
    width: 75%;
    padding: 2em;
}
.review-card{
    margin-top: 1em;
    box-shadow: 2px 3px 5px #888888;
    display: flex;
    align-items: center;
}
.review-card *{
    margin-left: 2em;
}

@media screen and (max-width:450px){
    .review-card{
        font-size: .7rem;
    }
    .title{
        font-size: 1.3rem;
    }
}