<div class="review-list-container">
    <h1 class="title">Reviews about {{localName}}</h1>
    <div class="review-list-items">
        <div *ngIf="reviews.length!==0">
            <mat-card *ngFor="let review of reviews" class="review-card">
                <div>
                    <p>User: {{review.userEmail}}</p>
                    <p>Date: {{review.createdAt.split("T")[0]}}</p>
                    <p>Hour: {{review.createdAt.split("T")[1].split(".")[0].split(":").slice(0,2).join(":")}}</p>
                    <p>Stars: {{review.stars}}</p>
                </div>
                <div>
                    <h2>Comment:</h2>
                    <textarea disabled class="review-card-text"> {{review.text}}</textarea>
                </div>
            </mat-card>                    
        </div>
        <div *ngIf="reviews.length===0">
            <p>No reviews found</p>
        </div>
    </div>
</div>
