.side-div{
    text-align: center;
    padding: 1rem;
    margin: 2em 1em;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 5px 7px 10px #888888;

}
.side-div > h1{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 100;
    white-space: nowrap;
}

.side-div > h3 > a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

@media screen and (max-width:700px){
    .side-div > h3 > a{
        font-size: .8rem;
    }

    .side-div > h1 {
        font-size: 1rem;
    }
}