<app-navbar></app-navbar>
<mat-card>
    <mat-card-content>
        <h1>Sign up</h1>
        <form>
        <p>
            <mat-form-field>
            <label>Name</label><input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
                (ngModelChange)="nameChange($event)" name="name">
            <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
            <label>Phone</label><input matInput [formControl]="phoneFormControl" [errorStateMatcher]="matcher"
                (ngModelChange)="phoneChange($event)" name="phone">
            <mat-error *ngIf="phoneFormControl.hasError('required')">
                Phone is <strong>required</strong>
            </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
            <label>Email</label><input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                (ngModelChange)="emailChange($event)" name="email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
            <label>Password</label><input matInput type="password" [formControl]="passwordFormControl" (ngModelChange)="passwordChange($event)"
                    name="password">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
            <label>Confirm your password</label><input matInput type="password" [formControl]="confirmedPasswordFormControl" (ngModelChange)="confirmedPasswordChange($event)"
                    name="confirmedPassword">
            <mat-error *ngIf="confirmedPasswordFormControl.hasError('required') && !arePasswordsEqual">
                This one is <strong>required</strong> and need to be same as <strong>Password</strong> field
            </mat-error>
            </mat-form-field>
        </p>
        <div class="button">
            <button type="submit" (click)="submit()" mat-button>Sign up</button>
        </div>
    
        </form>
    </mat-card-content>
</mat-card>
        