.local-card{
    width: 300px;
    height: 25em;
    overflow: hidden;
    background-color: #7042cc;
    color: #f1dde5;
    box-shadow: 5px 5px 10px 7px rgba(85,62,152,0.5), -5px -5px 10px 7px rgba(85,62,152,.25);
    transition: 0.4s;
    border-radius: 10px;
    padding-bottom: 1em;
    cursor: pointer;
}

.local-card img{
    width: 100%;
    height: 13em;
}

.local-card:hover{
    background-color: #f1dde5;
    color: #7042cc;
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 10px 5px rgba(85,62,152,1), 
        -5px -5px 10px 5px rgba(85,62,152,1);
}

.local-card h1,
.local-card p
{
    padding: 0 .9em;
    margin: .3em 0;
    width: 100%;
    max-height: 40px;
    word-wrap: break-word;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.local-card h1{
    font-size: 1.3rem;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.local-card img{
    max-width: 300px;
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width:700px){
    .local-card h1{
        font-size: .8rem;
    }

    .local-card p{
        font-size: 1rem;
    }
}