* {
    font-family: 'Montserrat';
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: red !important;
}

::ng-deep.mat-form-field-underline {
    background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
    background-color: white !important;;
}