.profile img{
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.profile img:hover{
    opacity: .8;
}

.profile{
    display: flex;
    align-items: center;
}

.profile > div {
    padding: 5em;
}

.profile-info *{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    width: 20em;
}

.mat-divider {
    border-top-color: black !important;
}

#edit-btn{
    background-color: #553e98;
}

#edit-btn{
    color: white !important;
}
.container-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.reservation-history-item{
    background-color: #fff;
    color: #000000;
    padding: 1em 3em;
    border-radius: 40px;
}


.reservations-container, .active-reservation-container{
    margin-top: 1em;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reservations-container table,
.active-reservation-container table {
    width: 100%;
    margin-top: 2em;
}

.reservations-container .mat-paginator,
.active-reservation-container .mat-paginator{
    width: 100%;
}

#goto-local-btn{
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

#goto-local-btn:hover{
    text-decoration: underline;
}

.recommended-container{
    margin-top: 2em;
    width: 80%;
}

.recommended-container h2{
    text-align: center;
}

.recommended-locals-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    grid-gap: 2em;
    margin-bottom: 2em;
}

@media (max-width: 1000px){
    .profile{
        flex-direction: column;
    }

    .container-content,
    .container-content .active-reservation-container,
    .container-content .recommended-locals-container,
    .container-content .reservations-container
    {
        width: 98%;
    }
}